body {
  background: #121221;
  color: #f8f8f2;
  font-family: Courier New, monospace;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.output {
  padding: 10px;
  white-space: pre-wrap;
}

.terminal {
  min-height: 95vh;
  min-width: 95vw;
  padding: 1rem;
  border: 2px solid #223;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.prompt-user {
  font-size: 1.2rem;
  white-space: nowrap;
}

.pressable {
  color: #0FF;
}

.pressable:hover {
  cursor: pointer;
}

.cursor {
  background-color: #FFF;
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

