:root {
  --base: #ffffff;
  --background: #13131c;
  --border: #1a1a29;
  --prompt-user-and-host: #a2e22e;
  --prompt-working-dir: #ff4455;
  --prompt-sign: #ff5566;
  --prompt-cursor: #ffffff;
  --list-element-title: #f26f6a;
}

@font-face {
  font-family: 'Monocraft';
  src: url('fonts/Monocraft-ttf-otf/Monocraft.ttf');
}

@font-face {
  font-family: 'Monocraft';
  src: url('fonts/Monocraft-ttf-otf/weights/ttf/Monocraft-Bold.ttf');
  font-weight: bold;
}

body {
  background: var(--background);
  color: var(--base);
  font-family: 'Monocraft';
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.list-container {
  padding-top: 1rem;
  padding-inline: 1.5rem;
}

.output {
  padding: 1rem;
  white-space: pre-wrap;
}

.terminal {
  min-height: 95vh;
  min-width: 95vw;
  padding: 1rem;
  border: 2px solid var(--border);
  box-sizing: border-box;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.prompt-user {
  font-weight: bold;
  font-size: 1.2rem;
  white-space: nowrap;
  color: var(--prompt-user-and-host);
}

.working-dir {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--prompt-working-dir)
}

.prompt-sign {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--prompt-sign);
}

.pressable {
  padding: 0 4px;
}

.pressable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.list-element-title {
  padding: 0 4px;
  color: var(--list-element-title);
  text-shadow: 0 0 10px var(--list-element-title);
}

.command {
  text-shadow: 0 0 10px var(--base);
}

.hidden {
  visibility: hidden;
}

.cursor {
  background-color: var(--prompt-cursor);
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

